.heading {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.delete {
    float: right;
    position: relative;
    right: 5px;
    bottom: 22px;
}
.booklist {
    border: 15px double palevioletred;
    margin: 50px;
}
.book{
    margin-left: auto;
    margin-right: auto;
    color: black;
    border: 10px solid palegoldenrod;
    margin: 50px;
}
.ul {
    list-style-type: none;
}
.booktext{
    margin-left: 10px;
    margin-block-start: 10px;
}
.input {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
input[type=text]{
    box-sizing: border-box;
    transition: 0.2s;
    border: 2px solid black;
    outline: none;
}

.missing{
    margin-top: 10px;
    text-align: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    word-spacing: 10;
    font-size: 15;
    font-family: Arial;
    color: red;
}
