.backgroundImg{
    position: absolute;
    top: -20px;
    z-index: -1;
    width: 100%;
}
.navbar{
    position: relative;
    top: 150px;
}
.nav-link{
    cursor: pointer;
}

.rating{
    display: flex;
    position: relative;
    float: right;
    bottom: 20px;
    left: 120px;
    margin: 0 10px; 
}

.starsymbol1, .starsymbol2, .starsymbol3, .starsymbol4, .starsymbol5{
    display: flex;
    position: relative;
    left: -22.3px;
    bottom: 9px;
    pointer-events: none;
}

input[type="radio"]{
    display: flex;
    cursor: pointer;
    position: relative;
    bottom: -5px;
    left: 10px;
}

.delete{
    display: flex;
    position: relative;
    float: right;
    bottom: 20px;
    left: 120px;
    margin: 0 10px; 
}

.heading{
    position: absolute;
    top: 17.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Georgia', serif;
    text-shadow: 0 0 10px #050505, 0 0 20px #ffffff;
    text-align: center;
    width: 100%;
    .largerHeading{
        font-size: 7vw;
        margin: 0;
    }
    .smallerHeading{
        position: absolute;
        font-size: 3vw;
        margin: 0;
        top: 85%; 
        left: 50%;
        transform: translateX(-50%);
    }
}

.status{
    float: right;
    position: relative;
    bottom: 125px;
    right: 15px;
}

.booklist{
    position: relative;
    width: 100%;
    width: 800px;
    padding: 20px;
    bottom: -100px;
    box-sizing: content-box;
    margin: 0 auto;
    border: 25px double brown;
}

.book{
    color: black;
    border: 2px solid goldenrod;
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 10px gray;
    transition: all 0.15s ease;
}
.book:hover{
    border-color: gold;
}

.ul{
    list-style-type: none;
}

.booktext{
    margin-left: 10px;
    margin-block-start: 10px;
}

input[type="text"]{
    box-sizing: border-box;
    transition: 0.2s;
    border: 2px solid black;
    outline: none;
    margin-bottom: 15px;
}

.input, .search, .missing{
    max-width: fit-content;
    margin: 0 auto;
}

.missing{
    margin-top: 10px;
    text-align: center;
    word-spacing: 10px;
    font-size: 15px;
    font-family: Arial, sans-serif;
    color: red;
}
